.cardsComponentContainer{
    height: 100%;
    margin: 10px;
}

.cardsContainer{
    /* display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 50px; */
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
